body {
	min-width: 1300px;
	overflow: hidden;
}

#sidebar{
	position:fixed;
	top: 0;
	right: 0;
	height:100%;
	width:10%;
	background-color: #eee;
}

svg{
	text-align: left;
	background-color: white;	/* #fafafa */
}

.visControl{
	position:absolute;
}

.paper{
	cursor:pointer;
}

.card{
	fill:white;
}

.card.highlighted{
	fill:white; 	/* #eee gray highlighting that I don't like */
}

.title{
	font-weight: normal;
	fill: #222;
	letter-spacing: .54px;
}

.title.highlighted{
	font-weight: bold;
	fill:#444;
	letter-spacing: normal;
}

.metadata{
	fill:#258B46;	/* Google dark green: #006621*/
}

.metadata:hover{
	text-decoration: underline;
}

.abstract{
	/*font-family: Roboto;*/
	fill:#444;
	cursor:text;
}

button:disabled{
	opacity:.5;
}
